/* Style global */
body {
  line-height: 1.2rem;
}

/* Container des filtres */
.main-box{
  border: 20px solid rgba(0,0,0,0.12);
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background: transparent; 
  box-shadow: none; 
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.main-title{
  text-align: center;
  font-weight:bold;
  margin: 0.25rem 0 0.75rem 0;
}

/* Css des synopsis de films sur la page d'un film */
.synopsis{
  font-size:1.2rem;
  line-height: 1.5rem;
  text-align: justify;
}

/* Css des titres de films main page + ML */
.film-title{
  height: 4rem;
  text-align:center;
  overflow : hidden;
  font-size:1.5rem;
  line-height: 2rem;
}

/* Style du H1 main page */
.h1 {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.st-key-filter_but {
  background-color: green;
  border-color: green;
}

.st-key-reset_but {
  background-color: red ;
  opacity: 90%;
}


.st-key-menu_container {
  border-width: 3rem;
}

/* Styles du menu en haut de la page en 3 étapes pour chaque niveau*/
.st-key-mymenu{
  border-style: groove;
  border-width: 0.1rem;
  border-color: silver;
  margin-top: -3.25rem;
}

/* Style du texte "Menu" dans le menu */
.Menu_test{
  text-align: left;
  font-size: 2rem;
  font-weight:bold;
  margin-top: -2rem;
}

/* Style des liens du menu pour éviter le débordement du texte */
a[data-testid="stPageLink-NavLink"] {
    white-space: nowrap ;
    overflow: hidden ;
    text-align: left;
    align-self: center;
    text-overflow: ellipsis;
    min-width: 0 ;
    display: inline-block;
}

/* Code css pour le layout des pages : nous permet de réduire les marges autour des pages */
.st-emotion-cache-zy6yx3 {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Code css pour fixer le menu en haut de la page */
.st-emotion-cache-7hhi3 {
    padding-top: 0.5rem;
    height: 4.6rem;
    background-color: black;
    position: fixed;
    width: 99%;
    overflow: hidden;
    z-index: 9999;
  }

  /* Code css pour le bouton retour à la recherche */
.st-key-back_to_search {
    position : fixed;
    height: fit-content;
    width: fit-content;
    padding-top: 2.4rem;
    background-color: black;
    opacity: 90%;
}